<ol id="calendar-nav-main">
	<li>
		<h2>Monday</h2>
		<ol class="days-events-list">
			<li></li>
		</ol>
	</li>
	<li>
		<h2>Tuesday</h2>
		<ol class="days-events-list">
			<li></li>
		</ol>
	</li>
	<li>
		<h2>Wednesday</h2>
		<ol class="days-events-list">
			<li></li>
		</ol>
	</li>
	<li>
		<h2>Thursday</h2>
		<ol class="days-events-list">
			<li></li>
		</ol>
	</li>
	<li>
		<h2>Friday</h2>
		<ol class="days-events-list">
			<li></li>
		</ol>
	</li>
	<li>
		<h2>Saturday</h2>
		<ol class="days-events-list">
			<li></li>
		</ol>
	</li>
	<li>
		<h2>Sunday</h2>
		<ol class="days-events-list">
			<li></li>
		</ol>
	</li>
</ol>